/* estilo2.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

header {
  background-color: #4d93f5;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #b5dae0;
}

nav {
  background-color: #8db0e3;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #cac5e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #ddd;
}

#search_bar {
  margin-right: 20px;
}

#search_bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
}

#search_bar input[type="submit"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
}

#search_bar input[type="submit"]:hover {
  background-color: #ddd;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#recetas {
  width: 75%;
  padding: 20px;
  box-sizing: border-box;
}

#recetas h2 {
  text-align: left;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
}

article {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fafafa;
}

article h3 {
  margin-top: 0;
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.descripcion img {
  max-width: 100%;
  height: auto;
}

.ingredientes, .elaboracion {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-bottom: 10px;
}

.ingredientes h4, .elaboracion h4 {
  margin-top: 0;
}

aside#lateral {
  width: 20%;
  margin: 20px 0;
  padding: 10px
}